---
---

@import 'jekyll-theme-leap-day';

header {
    padding: 15px 20px 10px 20px;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.75);
    z-index: 99;
    -webkit-font-smoothing: antialiased;
    min-height: 76px;
    background: #333;
}


body {
    font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2b2b2b;
    font-weight: 300;
    margin: 0px;
    padding: 0px 0 20px 0px;
    background: #fff;
}

section {
    width: 590px;
    margin-top: 140px;

}